{% load staticfiles %}
<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<h1 style="text-align:center; padding-top: 100px;">注册</h1>
<div style="width: 500px;margin: 50px auto;padding-top: 0px;">
    <form class="form-horizontal" method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">用户名：</label>
            <div class="col-sm-10">
                {{ form.name }}
                {{ form.errors.name.0 }}
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">密码：</label>
            <div class="col-sm-10">
                {{ form.password }}
                {{ form.errors.password.0 }}
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">确认密码：</label>
            <div class="col-sm-10">
                {{ form.password2 }}
                {{ form.errors.password2.0 }}
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">邮箱：</label>
            <div class="col-sm-10">
                {{ form.emails }}
                {{ form.errors.emails.0 }}
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label for="password" class="col-sm-2 control-label">验证码：</label>-->
            <!--<div class="col-sm-10">-->
                <!--{{ form.captcha }}-->
                <!--{{ form.errors.captcha.0 }}-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">注册</button>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <h5><a style="text-decoration:none" href="{% url 'meet:login' %}">返回登录</a></h5>
            </div>
        </div>
    </form>
</div>
</body>
</html>
